@font-face{
    font-family: "Inter", sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap")
        format("opentype");
}
@font-face{
    font-family: "Inter", sans-serif;
    font-weight: bold;
    src: url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap")
        format("opentype");
}

body{
    font-family: "Inter", sans-serif;
    background-color: #181B24;
    height: 100vh; 
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 254px;
}

#logoCadastro{
    width: 293px;
    height: 304px;
}

.cadastro, .login{
    background-color: #F2F2F2;
    width: 547px;
    height: 767px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login{
    height: 591px;
}

#cadastroTitle, #loginTitle{
    padding: 50px 0px;
    margin: 0px;
}

.box{
    width: 400px;
    height: 57.5px;
    border: 1px solid black;
    border-radius: 8px;
    margin-bottom: 20px;
    position: relative;
}

.boxTitle{
    font-size: 12px;
    font-weight: 400;
    background-color: #F2F2F2;
    padding: 0 4px 0 3px;
    position: absolute;
    top: -7px;
    left: 10px;
}

.inputCadastro, .inputLogin{
    width: 367px;
    height: 25px;
    font-size: 16px;
    background-color: #F2F2F2;
    padding: 16px;
    border: 0;
    border-radius: 8px;
}

.inputContainer{
    display: flex;
    align-items: center;
}

.visualizacaoSenha{
    position: absolute;
    right: 20px;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.inputTermos, .inputEsqueciSenha{
    display: flex;
    width: 400px;
    height: 48px;
    align-items: flex-start;
    padding-bottom: 41px;
}

.inputEsqueciSenha{
    justify-content: end;
}

#textTermos, #textEsqueciSenha{
    font-size: 16px;
    text-align: center;
    margin: 0;
}

#textTermosLogin{
    padding-top: 50px;
    margin: 0;
    width: 100%;
    text-align: center;
}

.termos{
    color: #105F74;
    text-decoration: underline;
}

.esqueciSenha{
    color: #105F74;
    text-decoration: none;
}

#cadastrarButton{
    width: 400px;
    height: 49px;
    background-color: #105F74;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
}

#cadastrarButtonText{
    color: white;
    font-size: 16px;
    font-weight: bold;
}

#fazerLogin{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #105F74;
    margin-top: 20px;
}


@media (max-width: 1150px){
    .wrapper{
        gap: 21px;
        flex-direction: column-reverse;
    }

    #logoCadastro{
        width: 80px;
        height: 83px;
    }

    .cadastro{
        width: 296px;
        height: 644px;
        border-radius: 18px;
    }

    .login{
        width: 296px;
        height: 479px;
        border-radius: 18px;   
    }

    #cadastroTitle{
        padding: 31px 0 46px 0;
    }

    #cadastroTitle, #loginTitle{
        font-size: 20px;
        text-align: center;
    }

    .box{
        width: 250.5px;
        height: 43px;
        border-radius: 6px;
        margin-bottom: 27px;
    }

    .inputCadastro, .inputLogin{
        width: 218px;
        height: 11px;
        font-size: 16px;
        background-color: #F2F2F2;
        padding: 16px;
        border: 0;
        border-radius: 6px;
    }

    .visualizacaoSenha{
        right: 19px;
    }

    .inputTermos, .inputEsqueciSenha{
        width: 250.5px;
        height: 27px;
        padding: 0;
    }

    .inputTermos{
        padding-bottom: 31px;
    }

    #textTermos, #textEsqueciSenha{
        font-size: 12px;
    }

    #textTermosLogin{
        padding-top: 35px;
        margin: 0;
        width: 259px;
    }

    #cadastrarButton{
        width: 201px;
        height: 37px;
    }
    
    #cadastrarButtonText{
        margin: 0;
    }
}